# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEA
.idea/
*.iws
*.iml
*.ipr
*.orig
/out/

# Eclipse
.settings/
.classpath
.project
.factorypath
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
*.log
logs/

# Temp
*.tmp
*.temp

# H2 Database
*.mv.db

*.txt